project_name        = "yt-data-pipeline"
aws_region          = "us-east-1"

s3_bronze_bucket              = "yt-data-pipeline-bronze-<your-suffix>"
s3_silver_bucket              = "yt-data-pipeline-silver-<your-suffix>"
s3_gold_bucket                = "yt-data-pipeline-gold-<your-suffix>"
athena_query_results_bucket   = "yt-data-pipeline-athena-results-<your-suffix>"
glue_scripts_bucket            = "yt-data-pipeline-glue-<your-suffix>"

glue_job_name_bronze_to_silver                   = "yt-bronze-to-silver-job"
pipeline_schedule_start_date         = "2026-05-30T01:00:00Z"
glue_job_name_silver_to_gold                     = "yt-silver-to-gold-job"

lambda_function_name_json_to_parquet       = "yt-json-to-parquet"
lambda_function_name_youtube_api_ingestion = "yt-api-ingestion"
lambda_function_name_data_quality_checks   = "yt-quality-check"
youtube_api_key                            = "<your-youtube-api-key>"
# Find the right ARN for your region at https://aws-sdk-pandas.readthedocs.io/en/stable/layers.html
aws_wrangler_layer_arn                     = "arn:aws:lambda:us-east-1:336392948345:layer:AWSSDKPandas-Python311:31"
notification_email                         = "your-email@example.com"
